[idrive_expensivebackup]
type = s3
provider = Other
env_auth = true
access_key_id = xxxx (cuidado que a credencial aqui fica em claro)
secret_access_key = xxxx (cuidado que a credencial aqui fica em claro)
endpoint = s3.us-southeast-1.idrivee2.com
acl = private
bucket_acl = private

[idrive_expensivebackup_encryption]
type = crypt
remote = idrive_expensivebackup:expensivebackup
filename_encryption = off
directory_name_encryption = false
password = xxx (Use rclone config para definir este valor, ja que eh colocado hasheado)
password2 = xxx (Use rclone config para definir este valor, ja que eh colocado hasheado)